
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px 0;
    background-color: #ffffff;
    color: #333;
    font-size: 15px;
}
.img-container {
    display: flex;
    justify-content: center;
}

img {
    width: 200px;
    height: auto;
}

.title {
    color: #aec58c;
    font-family: 'Gabarito', sans-serif;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0;
}
.container {
    text-align: center;
}
p {
    margin: 0 40px;
}

form {
    max-width: 500px;
    width: 80%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: #ccc 1px solid;
    justify-content: center;
}

label {
    display: block;
    margin-top: 10px;
    padding: 0 30px;
}

input, textarea {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}
#hours {
    max-width: 50px;
}

select {
    width: 60%;
    padding: 10px;
    margin-top: 5px;
    border: #ccc 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
}


/* .phone-inputs {
    display: flex;
    justify-content: center;
}
.phone-inputs div {
    width: 80%;
    display: flex;
    gap: 10px;
}
#phone-code {
    width: 80px;
} */


#phone {
    width: fit-content;
    /* padding: 5px; */
    /* margin: 5px 10px 30px; */
}
.iti__selected-flag {
    background-color: white !important;
    border-radius: 8px 0 0 8px;
}
.iti input:focus,
.iti__flag-container:focus,
.iti__selected-flag:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #999 !important; /* Optional: subtle border on focus */
}
.iti {
    margin: 5px 0 15px; /* top & bottom: 20px, left & right: 0 */
    /* max-width: 220px; */
}
#experience {
    width: 50px;
}


.line {
    border-top: #ccc solid 1px;
    margin: 20px 0;
}

.subtitle {
    margin-top: 5px;
    margin-bottom: 30px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #aec58c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #9eb67b;
}

/* Chrome, Safari, Edge, Opera */
.phone::-webkit-inner-spin-button,
.phone::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.custom-number {
  -moz-appearance: textfield;
}










/* ----------- Webkit Scrollbar ----------------- */


::-webkit-scrollbar {
    width: 8px;  /* Thin vertical scrollbar */
    height: 8px; /* Thin horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;  /* Dark track color */
    border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background: #f19275;  /* Dark thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid transparent;  /* Subtle border for better visibility */
}

::-webkit-scrollbar-thumb:hover {
    background: #aec58c;  /* Slightly lighter thumb on hover */
}

/* Optional: Style the corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
    background: #7DBBC3;
}
